<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="同一本书，同一个梦与远方孩子一起读书，共同成长"/>
    <meta content="公益，梦想，同一本书，同一个梦想，共读，远方,志愿者，贫困，西部地区" name="keywords"/>
    <title>同一本书，同一个梦</title>
    <link rel="icon" href="/static/layui/images/tubiao.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/layui/images/tubiao.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/global.css">
</head>

<body style="text-align:center;">
<!--头部和提示-->
<div class="layui-layout layui-layout-admin">
    <!--标签头-->
    <div class="layui-header headerFixed">
        <div class="layui-logo">共读</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    登录
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">登录</a></dd>
                    <dd><a href="">注册</a></dd>
                    <dd><a href="">交流</a></dd>
                    <dd><a href="/aboutus">我们</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    我们
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="http://mp.weixin.qq.com/s/nT5gQDlfDzFV9cbrzdCszg">计划</a></dd>
                    <dd><a href="http://mp.weixin.qq.com/s/wqiYqlxizRKScYNCWJDQUg">详细说明</a></dd>
                </dl>
            </li>
        </ul>
    </div>

</div>
<div id="concenter">


    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 50px">
        <tbody>
        <tr>
            <td valign="top" width="640" align="center">
                <div>
                    <div class="threeContentLeft">
                        <div style="text-align: center; margin-top: 10px"></div>
                        <DIV id=tagContent>
                            <DIV class="tagContent selectTag" id="tagContent0">
                                <ul>
                                    <p>
                                        <a href="http://mp.weixin.qq.com/s/Z70kV0GjXEn5Jn7Rw1t9BQ" target="_blank">关于与贫困学子共读计划的说明</a>
                                    </p>
                                    <p>
                                        <a> --------------------------------------------------------------</a>
                                    </p>
                                    <p>
                                        <a href="http://mp.weixin.qq.com/s/uA61m3M-ZcRNTzwQAShkWA" target="_blank">
                                            改变他们的命运，需要的也许只是一缕阳光</a>
                                    </p>
                                    <p>
                                        <a href="http://mp.weixin.qq.com/s/VMDDEbVbgzsuDJGtF1I1jQ" target="_blank">初中生课外阅读书目推荐1</a>
                                    </p>
                                    <p>欢迎大家将自己的故事记录下来发给我，激励更多的人参与进来！我会更新此处的 </p>
                                    <p>由于工作问题现在正在不断的更新系统，带来的不便希望大家谅解 </p>
                                </ul>
                            </DIV>
                            <div class="xiangguan"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="footer" style="width:100%">
    <div id="footleft">
        <div id="oldnew">
            <font color="#ABAAAA">感谢您的访问！</font> <font color="#ABAAAA">
            | </font> <font color="#ABAAAA">欢迎提出改进建议！</font>
        </div>
    </div>

    <div id="footright">
        <font color="#ABAAAA"> <br> 联系我们 gaolong14@163.com<br></font>
    </div>
</div>
</body>
</html>
<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>