<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="同一本书，同一个梦与远方孩子一起读书，共同成长"/>
    <meta content="公益，梦想，同一本书，同一个梦想，共读，远方,志愿者，贫困，西部地区" name="keywords"/>
    <title>同一本书，同一个梦</title>
    <link rel="icon" href="/static/layui/images/tubiao.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/layui/images/tubiao.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/global.css">
</head>

<body style="text-align:center;">
<!--头部和提示-->
<div class="layui-layout layui-layout-admin">
    <!--标签头-->
    <div class="layui-header headerFixed">
        <div class="layui-logo">共读</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    登录
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">登录</a></dd>
                    <dd><a href="">注册</a></dd>
                    <dd><a href="">交流</a></dd>
                    <dd><a href="/aboutus">我们</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    我们
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="http://mp.weixin.qq.com/s/nT5gQDlfDzFV9cbrzdCszg">计划</a></dd>
                    <dd><a href="http://mp.weixin.qq.com/s/wqiYqlxizRKScYNCWJDQUg">详细说明</a></dd>
                </dl>
            </li>
        </ul>
    </div>

</div>
<div>
    <table class="layui-table"
           lay-data="{width: 1352, height:332, url:'/admin/applicant/detail', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'name', width:80}">姓名</th>
            <th lay-data="{field:'age', width:80}">年龄</th>
            <th lay-data="{field:'gender', width:80}">性别</th>
            <th lay-data="{field:'tel', width:130}">电话</th>
            <th lay-data="{field:'wechat', width:160}">微信</th>
            <th lay-data="{field:'mail', width:80, sort: true}">邮箱</th>
            <th lay-data="{field:'qulification', width:80}">学历</th>
            <th lay-data="{field:'work', width:135, sort: true}">工作</th>
            <th lay-data="{field:'experience', width:180, sort: true,}">经历</th>
            <th lay-data="{field:'goal', width:180, sort: true, }">目标</th>
            <th lay-data="{field:'reason', width:180, sort: true, }">原因</th>
            <th lay-data="{field:'attitude', width:180, sort: true, }">态度</th>
            <th lay-data="{field:'rate', width:180, sort: true, }">频率</th>
            <th lay-data="{field:'otherTopic', width:180, sort: true,}">其他</th>
            <th lay-data="{field:'communicationType', width:180, sort: true,}">交流方式</th>
            <th lay-data="{field:'advice', width:180, sort: true,}">建议</th>
            <th lay-data="{fixed: 'right', width:300, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>

</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn  layui-btn-primary layui-btn-xs" lay-event="stuinfo">学生信息</a>
    <a class="layui-btn  layui-btn-warm layui-btn-xs" lay-event="pass">审核通过</a>
    <a class="layui-btn  layui-btn-xs" lay-event="passno">审核拒绝</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div id="footer" style="width:100%">
    <div id="footleft">
        <div id="oldnew">
            <font color="#ABAAAA">感谢您的访问！</font> <font color="#ABAAAA">
            | </font> <font color="#ABAAAA">欢迎提出改进建议！</font>
        </div>
    </div>

    <div id="footright">
        <font color="#ABAAAA"> <br> 联系我们 gaolong14@163.com<br></font>
    </div>
</div>
</body>
</html>
<script src="../../static/layui/layui.js"></script>
<script>

    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'pass') {

                layer.msg('ID：' + data.id + ' 的查看操作');
                $.ajax({
                 type: "GET",
                 url: "/admin/applicant/adopt",
                 data: {'applicantId':data.id},
                 dataType: "json",
                 success: function(data){

                 }
             });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</script>