<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="同一本书，同一个梦与远方孩子一起读书，共同成长"/>
    <meta content="公益，梦想，同一本书，同一个梦想，共读，远方,志愿者，贫困，西部地区" name="keywords"/>
    <title>同一本书，同一个梦</title>
    <link rel="icon" href="/static/layui/images/tubiao.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/layui/images/tubiao.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/global.css">
</head>

<body class="fly-full">
<!--头部和提示-->
<div class="layui-layout layui-layout-admin">
    <!--标签头-->
    <div class="layui-header headerFixed">
        <div class="layui-logo">共读</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    登录
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/intologin">登录</a></dd>
                    <dd><a href="">注册</a></dd>
                    <dd><a href="">交流</a></dd>
                    <dd><a href="/aboutus">我们</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    我们
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="http://mp.weixin.qq.com/s/nT5gQDlfDzFV9cbrzdCszg">计划</a></dd>
                    <dd><a href="http://mp.weixin.qq.com/s/wqiYqlxizRKScYNCWJDQUg">详细说明</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!--主题提示-->
    <div class="fly-case-header">
        <p class="fly-case-year">2018</p>
        <h2 class="fly-case-bannerup" style="color: white">同一本书，同一个梦</h2>
        <h1 class="fly-case-banner" style="color: white">与远方孩子一起读书，共同成长</h1>
    </div>
</div>

<!-- login form -->
<div class="">


</div>
</body>
</html>